@tailwind base;
@tailwind components;
@tailwind utilities;


.btn-primary {
    background-color: blue;
    color: #EFEFEF;
    border:solid #2E2F30 1px;
    padding: 5px;
    text-decoration: none;
}


