<h1>Images</h1>
<p class="toast"></p>
<dialog  id="my-dialog">
  Content
</dialog>

<% @images.each do |image| %>
  <%= tag.section class: 'my-5 align-center',
                  data: {controller: 'images toast', action: "images:copied->toast#show"} do %>

    <%= image_tag image.url, class: 'rounded block', alt: image.title, data: {'action':"click->images#copy",
                                                                              'images-target':'image'}   %>

  <% end %>


<% end %>